/* --HTML-- */
html {
  color: $FONT_COLOR;
  overflow-y: scroll;
}

/* --BODY-- */
body {
  font-size: $FONT_SIZE;
  font-family: $FONT_MEIRIO;
  margin: 0;
  padding: 0;
  min-width: 1000px;
  overflow: hidden;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

img {
  vertical-align: bottom;
  border: none;
}

/* --OTHER TAGS-- */
a {
  overflow: hidden;
  outline: none;
  text-decoration: none;
}

a img {
  background: none;
  border: none;
}

a:hover img {
  opacity: 0.6;
}

/* clearfix */
.clearfix {
  @include clearfix;
}
