<%_
  const PageOptions = {
    title: 'index page',
    description: '',
    cssFiles: ['index'],
    scriptFiles: ['index']
  }
_%>
<%- include( '../include/_header', { PageOptions } ) -%>
<div></div>
<%- include( '../include/_footer', { PageOptions } ) -%>
