<%
  var pageId = 'lv2'
  var title = 'lv2'
  var description = 'lv2 description'
%>
<% include ../../include/_header %>
  <div id="main">
    <p>main contents</p>
  </div>
<% include ../../include/_footer %>
