<%_
  var root = '../'
  var pageId = 'lv2'
  var title = 'lv2'
  var description = 'lv2 description'
  var cssFile = []
  var jsFile = []
_%>
<%_ include ../../include/_header _%>
      <div id="maincolumn">
        <p>main contents</p>
      </div>
<%_ include ../../include/_sidebar _%>
<%_ include ../../include/_footer _%>
