@use 'sass:math';

html {
  overflow-y: scroll;
}

body {
  font-size: math.percentage(math.div(10, 16));
  font-family: var(--font-family-base);
  margin: 0;
  padding: 0;
  color: var(--color-text-default);
  min-width: 1024px;
  overflow: hidden;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

img {
  vertical-align: bottom;
  border: none;
}
