    </div><!-- /.container -->
    <%- include ('../components/_footer') -%>
  </div><!-- /.wrapper -->
<%_ for ( var i = 0; i < PageOptions.scriptFiles.length; i++ ) { _%>
<script type="text/javascript" src="<%= PageOptions.root %>assets/js/<%= PageOptions.scriptFiles[i] %>.js"></script>
<%_ } _%>
</body>
</html>
