<%_
  var root = ''
  var pageId = 'index'
  var title = 'test'
  var description = 'index description'
  var cssFile = ['index']
  var jsFile = ['index']
_%>
<%_ include ../include/_header _%>
      <div class="maincolumn">
        <p>hello world</p>
      </div>
<%_ include ../include/_sidebar _%>
<%_ include ../include/_footer _%>
